body {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 0;
}
#grid ol{
  font-weight: bold;
  border-right: 1px solid gray;
  width:100px;
  padding: 20px;
  padding-left: 40px;
  margin: 0;
  }
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
.article{
  padding-left: 30px;
  padding-right: 25px;
}
@media(max-width:800px){
  #grid{
    display: block;
  }
  #grid ol{
      border-right: none;
  }
  h1{
      border-bottom: none;
  }
}
